/* carousel.component.scss */
#carousel {
  text-align: center;
  padding: 20px;
}

.carousel__title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.carousel {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
    transform: scale(0.8);
    margin: 0 5px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px; /* Tamanho menor para itens não ativos */
    height: 100px; /* Tamanho menor para itens não ativos */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    &.slick-center {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
      width: 150px; /* Tamanho maior para item ativo */
      height: 150px; /* Tamanho maior para item ativo */
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      z-index: 1;
    }
  }

  .slick-dots {
    bottom: -30px;
  }

  .slick-prev, .slick-next {
    color: #333;
    z-index: 2;
  }
}

.slick-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
