/* carousel.component.scss */
#carousel {
  text-align: center;
  padding: 20px;
}

.carousel__title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.carousel {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slick-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 300px; // Ajuste conforme necessário
  transition: transform 0.5s ease; // Suaviza a transição entre as imagens
}

.carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
  transform: scale(0.8);
  margin: 0 5px;
  border-radius: 8px;
  overflow: hidden;
  width: 100px; /* Tamanho menor para itens não ativos */
  height: 100px; /* Tamanho menor para itens não ativos */
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding: 1rem;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;


  &.slick-center {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
    width: 150px; /* Tamanho maior para item ativo */
    height: 150px; /* Tamanho maior para item ativo */
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 1;
  }
}

.slick-dots {
  bottom: -30px; // Ajuste conforme necessário
  li {
    margin: 0 5px;

    button {
      &:before {
        font-size: 12px;
        color: #000; // Cor dos pontos
      }
    }

    &.slick-active button:before {
      color: #007bff; // Cor do ponto ativo
    }
  }
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;

  &:before {
    font-size: 20px;
    color: #fff;
  }
}

.slick-prev {
  left: -40px; // Ajuste conforme necessário
}

.slick-next {
  right: -40px; // Ajuste conforme necessário
}