.footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: #888;

    .footer__content {
        margin-bottom: 20px;
    }

    .footer__text {
        display: block;
        font-size: 14px;
        color: #888;
        margin-bottom: 10px;
    }

    .footer__contact-link {
        color: #888;
        text-decoration: none;
        font-size: 14px;
    }

    .footer__contact-link:hover {
        text-decoration: underline;
    }
}