// Importe as variáveis de cores e tamanhos do seu projeto, se necessário

.home-container {
    display: flex;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #333;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 32px;
}

.content {
    max-width: 800px;
    text-align: center;
}